*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# IDE
.idea/
.allure/
*.iml
*.iws
.vscode/

# Maven
target/

# OS
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/

# Playwright
playwright-traces/

# Environment
*.env
